.about {
  padding: 3rem;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about .header-text h1 {
  display: flex;
  width: 74%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #303030;
  font-weight: 300;
  letter-spacing: 2px;
}

.about .header-text h1::before,
h1::after {
  content: '';
  /* this effects the last 3 bars, idk why it effects the right one from Cards.css */
  border-top: 1px solid #76a2af;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h1:after {
  margin: 0 0 0 20px;
}

h1 span {
  font-weight: 700;
  font-size: 2.1rem;
  color: #76a1ae;
  margin-left: 6.5px;
}

/* holds all the about text */
.about-container {
  display: flex;
  flex-flow: column;
  /* centers all text */
  align-items: center;
  /* sets margin to center? */
  margin: 0 auto;
  /* holds everything inside certain width */
  max-width: 1120px;
  width: 90%;
}

/* nexted inside container */
.about-wrapper {
  /* so we can use absolute on nested items */
  position: relative;
  /* lil bit of space above text */
  margin: 30px 0 0px;
}

.text-and-pic-wrapper {
  display: flex;
  flex-flow: column;
  /* centers all text */
  align-items: center;
  /* sets margin to center? */
  margin: 0 auto;
  /* holds everything inside certain width */
}

.text-and-pic-wrapper img {
  margin: 0 0 30px 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.13);
}
.about-wrapper p {
  font-size: 1.2rem;
  line-height: 30px;
  color: #435257;
}

p.bottom {
  font-size: 1.7rem;
  line-height: 30px;
  margin-left: 10px;
  font-weight: 300;
  color: #6b7e85;
}

p.bottom span {
  font-weight: 400;
  color: #dd2b27;
}

@media only screen and (max-width: 1000px) {
  /* .right {
    display: none;
  } */

  .about .header-text h1 {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .text-and-pic {
    font-size: initial;
  }
  .about .header-text h1::before,
  h1::after {
    border-top: none;
  }
}
