/* use */
:root {
  --primary: #fff;
}

/* styling for <button> */
.btn {
  /* top/bottom & left/right */
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* default styling */
.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--red {
  background-color: #dd2b27;
  color: #fff;
  border: 2px solid #dd2b27;
  transition: all 0.3s ease-out;
  font-weight: 300;
  width: 100%;
  padding: 8px 20px;
  font-size: 20px;
}

.btn--red:hover {
  background: #fff;
  color: #dd2b27;
  transition: all 0.3 ease-out;
  border: 1px solid #fff;
}

/* secondary styling */
.btn--outline {
  background-color: transparent;
  /* white text */
  color: #fff;
  /* white solid border */
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  color: #fff;
  background-color: #dd2b27;
  transition: all -0.3 ease-out;
  border: 1px solid #dd2b27;
}

/* sizing for medium button */
.btn--medium {
  width: 140px;
  padding: 8px 20px;
  font-size: 20px;
}

/* sizing for large button */
.btn--large {
  padding: 12px 23px;
  font-size: 20px;
}
