.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #729eab;
  padding: 2rem 0 1rem 0;
  width: 100%;
}

/* links at bottom of footer */
/* footer-links holds entire section */
.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  width: 95%;
}

/* wraps each list */
.footer-link-wrapper {
  display: flex;
}

/* wraps each list */
.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

/* Header Text at top of each list */
.footer-link-items h2 {
  color: #d1dde0;
}

/* <li> */
/* if you don't inlcude className, it will push down the <li>'s in Navbar */
ul li.list-item {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  list-style: none;
}

.list-item,
.list-item p {
  font-weight: 300;
}

.list-item:hover,
.list-item p:hover {
  font-weight: 400;
}

/* Link tags */
li a {
  color: #d1dde0;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

i.footer-icon {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1rem;
  color: #fff;
}
.footer-link-items a p {
  font-size: 16px;
}

/* so icon & text float on same line */
.footer-icon-link {
  display: flex;
}

.bottom {
  width: 90%;
}

.bottom p {
  color: #fff;
  font-size: 1rem;
  margin-top: 15px;
  font-weight: 100;
  margin-bottom: 2px;
}

.bottom p span {
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2px;
  color: #d1dde0;
}

@media screen and (max-width: 800px) {
  .footer-links {
    display: block;
    padding-left: 40%;
  }
}

@media screen and (max-width: 620px) {
  .footer-links {
    padding-left: 26%;
  }

  .bottom {
    width: 70%;
  }
}
