.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #729eab;
  padding: 2rem 0 1rem 0;
  width: 100%;
}

/* footer wrapper  */
.footer-links {
  /* Centering Combo: centers card-wrapper, which holds icon & text */
  display: flex;
  align-items: center;
  justify-content: center;
  /*****************************/
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 95%;

  margin-left: 15px;
}

/* wraps each list */
.footer-link-wrapper {
  /* Centering Combo: centers card-wrapper, which holds icon & text */
  display: flex;
  align-items: center;
  justify-content: center;
  /*****************************/
}

h2.middle-text {
  margin-top: -2px;
}

ul.middle-row li.footer-list-item {
  margin: 12px 2px;
}

/* wraps each list */
.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

/* Header Text at top of each list */
.footer-link-items h2 {
  color: #d1dde0;
}

/* <li> */
/* if you don't inlcude className, it will push down the <li>'s in Navbar */
ul li.footer-list-item {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  list-style: none;
}

.footer-list-item,
.footer-list-item p {
  font-weight: 300;
}

.footer-list-item:hover,
.footer-list-item p:hover {
  font-weight: 400;
}

/* Link tags */
li a {
  color: #d1dde0;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

li.footer-list-item i.fa-phone,
li.footer-list-item i.fa-envelope,
li.footer-list-item i.fa-map-marker-alt {
  margin-right: 5px;
  margin-left: 3px;
}

i.footer-icon {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1rem;
  color: #fff;
}
.footer-link-items a p {
  font-size: 16px;
}

/* so icon & text float on same line */
.footer-icon-link {
  display: flex;
}

.footer-bottom-text {
  width: 100%;
  /* Centering Combo: centers card-wrapper, which holds icon & text */
  display: flex;
  align-items: center;
  justify-content: center;
  /*****************************/

  margin-left: -10px;
}

.footer-bottom-text p {
  color: #fff;
  font-size: 1.02rem;
  margin-top: 15px;
  font-weight: 100;
  margin-bottom: 2px;
}

a.zelma {
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2px;
  color: #d1dde0;
}

@media screen and (max-width: 800px) {
  .footer-links {
    display: block;
    padding-left: 3%;
  }
}

@media screen and (max-width: 620px) {
  .footer-links {
    padding-left: 7%;
  }

  .bottom {
    width: 70%;
  }
}
