/* <div> that holds entire Hero Section */
.hero-container {
  /* if you don't keep this image in the same folder as Hero.css, it doesn't work :( */
  background: url('./images/img-8.jpg') center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  /* centers text & content inside .container */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -80px;
  height: 92vh;
  width: 100%;
  object-fit: contain;
  /* spotlight effect with darker edges */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

/* nexted inside container */
.hero-header-wrapper {
  display: flex;
  flex-flow: column;
  /* centers all text */
  align-items: center;
  /* sets margin to center? */
  margin: 0 auto;
  /* holds everything inside certain width */
  max-width: 1120px;
  width: 100%;
}

.hero-container .hero-header-wrapper > h1 {
  color: #f5f1e9;
  font-weight: 700;
  margin-left: 20px;
  font-size: 100px;
}

.hero-header-wrapper > p {
  color: #f5f1e9;
}

/* BUTTONS Section */
.hero-btns {
  display: flex;
  /* pushes button section down */
  margin-top: 40px;
}

/* individual buttons */
.hero-btns .btn,
.hero-btns .contact-btn {
  /* add spacing all around */
  margin: 6px;
}

/* Call Hotline Button */
.contact-btn {
  /* Centering Combo: centers card-wrapper, which holds icon & text */
  display: flex;
  align-items: center;
  justify-content: center;
  /*****************************/
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
}
.contact-btn:hover {
  background-color: #dd2b27;
  border: 1px solid #dd2b27;
}

.contact-btn p {
  font-size: 1.115rem;
  color: #fff;
  letter-spacing: 1px;
  padding: 4.5px 10px;
}
.contact-btn p:hover {
  color: #fff;
}

.hero-btns .fas {
  margin: 3px 1px 4px 0px;
  /* margin-left: 7px;
  margin-right: 1px; */
  font-size: 1.2rem;
  color: #fff;
}

/* Text at bottom of Hero Section - REMOVED */
/* .contact-text {
  color: #fff;
  font-size: 1rem;
  margin-top: 180px;
  margin-bottom: -400px;
  text-align: center;
} 

.contact-text h2 {
  font-weight: 300;
}
*/

.arrow {
  margin-top: 150px;
  margin-bottom: -120px;
}

.arrow i {
  font-size: 3rem;
  color: #f5f1e9;
}

.fa-chevron-down {
  color: white;
  font-size: 3.8rem;
}

/* Everything BELOW 1230px */
@media screen and (max-width: 1230px) {
  .hero-container .hero-header-wrapper > h1 {
    /* font-size was 100px, margin-top was -100px */
    font-size: 90px;
    margin-top: -80px;
  }

  .arrow {
    margin-top: 200px;
    margin-bottom: -210px;
  }

  .arrow i {
    font-size: 2.8rem;
  }
}

/* Mobile View */
@media screen and (max-width: 970px) {
  .hero-container .hero-header-wrapper > h1 {
    /* font-size was 100px, margin-top was -100px */
    font-size: 85px;
    margin-top: -110px;
  }

  .arrow {
    margin-top: 200px;
    margin-bottom: -240px;
  }

  .contact {
    font-size: 0.9rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .contact {
    margin-left: 20px;
  }
}

@media screen and (max-width: 905px) {
  .hero-container .hero-header-wrapper > h1 {
    /* font-size was 100px, margin-top was -100px */
    font-size: 80px;
    margin-top: -70px;
  }

  .arrow {
    margin-top: 210px;
    margin-bottom: -200px;
  }
}

@media screen and (max-width: 856px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 75px;
    margin-top: -80px;
  }

  .arrow {
    margin-top: 150px;
    margin-bottom: -215px;
  }

  /* when in mobile view, buttons stack instead of float side-by-side  */
  .hero-btns {
    display: block;
    margin-left: -10px;
  }
}

@media screen and (max-width: 806px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 65px;
    margin-top: -80px;
  }

  .arrow {
    margin-top: 170px;
    margin-bottom: -215px;
  }
}

@media screen and (max-width: 706px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 50px;
    margin-top: -80px;
  }
}

@media screen and (max-width: 550px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 45px;
    margin-top: -80px;
  }
}

@media screen and (max-width: 500px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .hero-container .hero-header-wrapper > h1 {
    font-size: 31px;
    margin-left: 13px;
  }
}
