/* .lists {
  /* makes all the lists float on same line *
  display: flex;
  margin-top: -10px;
}

// floats the items inline
.list-wrapper {
  display: flex;
  /* so we can use absolute on nested items *
  position: relative;
  text-align: center;
  /* top, horizontal, bottom *
  margin: 10px 0 15px;
} 

// makes items stack in Mobile view 
@media only screen and (max-width: 800px) {
  .list-wrapper {
    display: block;
  }

*/

/* List of Services *****************************/

/* Services Text: 100% width*****************************/
.services-container {
  display: flex;
  /* info will be up & down */
  flex-flow: column;
  /* everything will be aligned to center */
  align-items: center;
  /* center inside external space */
  margin: 0 auto;
  /* pulls the entire background across the screen */
  width: 100%;
  /* DELETED - fucked up width max-width: 1120px; */
  color: black;
  background-color: #fff;
}

.services-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

/* <div> that holds services header text */
.services-header {
  margin-top: 50px;
}

.services-header h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
}

.services-header p {
  margin-top: 10px;
  color: black;
  font-weight: 100;
  font-size: 1.2rem;
}

.list-container {
  display: flex;
  position: relative;
  text-align: center;
  margin: 10px 0 15px;
  width: 80%;
}

.list-wrapper {
  display: flex;
  /* so we can use absolute on nested items */
  position: relative;
  text-align: center;
  /* top, horizontal, bottom */
  margin: 10px 0 15px;
}

/* W3Schools: Card Item */
.list-item {
  /* takes up 1 width of remaining space (100%) */
  flex: 1;
  /* top & bottom, left & right */
  margin: 0 1rem;
  border-radius: 20px;
  align-items: center;
  background: transparent;
}

/* without this, it's not possible to align everything in the middle b/c you can't have two margins */
.list-item-wrapper {
  display: flex;
  /* info will be up & down */
  flex-flow: column;
  /* everything will be aligned to center */
  align-items: center;
  /* center inside external space */
  margin: 0 auto;
  /* so they don't end up too wide */
  max-width: 1120px;
  width: 40%;
}

.list-item a {
  text-decoration: none;
}

/* Add shadows to create the "card" effect */
/* .list-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
} */

/* On mouse-over, add a deeper shadow */
/* .list-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

/* Circle inside the card */
#circle {
  /* without this, the icon won't float down and center horizontally */
  margin-top: 20px;
  display: flex;
  width: 100px;
  height: 100px;
  background: #729eab;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.list-item-wrapper i {
  /* recenters icon; it uncenters when surrounding it w/ Link */
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
}

/* Adds padding INSIDE the card container */
.list-item-text {
  margin: 15px 0px;
  color: black;
}

.list-item-text h4 {
  font-size: 1.4rem;
  margin: 5px 0px;
}

.list-item-text p {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.services-bottom-text {
  margin-bottom: 50px;
}

@media screen and (max-width: 1025px) {
  .list-wrapper {
    display: block;
  }
}
