/* .lists {
  /* makes all the lists float on same line *
  display: flex;
  margin-top: -10px;
}

// floats the items inline
.list-wrapper {
  display: flex;
  /* so we can use absolute on nested items *
  position: relative;
  text-align: center;
  /* top, horizontal, bottom *
  margin: 10px 0 15px;
} 

// makes items stack in Mobile view 
@media only screen and (max-width: 800px) {
  .list-wrapper {
    display: block;
  }

*/

/* List of Services *****************************/

/* Services Text: 100% width*****************************/
.services-container {
  display: flex;
  /* info will be up & down */
  flex-flow: column;
  /* everything will be aligned to center */
  align-items: center;
  /* center inside external space */
  margin: 0 auto;
  /* pulls the entire background across the screen */
  width: 100%;
  /* DELETED - fucked up width max-width: 1120px; */
  color: black;
  background-color: #f1f1f1;
}

.services-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

/* <div> that holds services header text */
.services-header {
  margin-top: 20px;
}

.services-header h3 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
}

.services-header h1.services-h1 {
  margin-top: 50px;
  color: black;
  font-weight: 100;
  font-size: 2rem;
}

/* Circle inside the card */
/* #circle {
  margin-top: 20px;
  display: flex;
  width: 100px;
  height: 100px;
  background: #729eab;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
} */

/* List of Services *****************************/
/* holds entire section */
.services {
  text-align: center;
  width: 100%;
}

.cen {
  margin: auto;
  overflow: hidden;
  padding: 20px;
  width: 70%;
}

/* Lists */
.service {
  display: inline-block;
  /* splits the width into 3 */
  width: calc(100% / 3);
  margin: 0 -2px;
  /* spacing around each list */
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover {
  background: #ddd;
  border-radius: 2px;
}

.service i {
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.services-bottom-text {
  margin: 50px 0;
}

@media screen and (max-width: 1025px) {
  .list-wrapper {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  /* changes width from 100%/3 */
  .service {
    /* takes up half of width */
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  /* takes up whole width */
  .service {
    width: 100%;
  }
}
