/* .lists {
  /* makes all the lists float on same line *
  display: flex;
  margin-top: -10px;
}

// floats the items inline
.list-wrapper {
  display: flex;
  /* so we can use absolute on nested items *
  position: relative;
  text-align: center;
  /* top, horizontal, bottom *
  margin: 10px 0 15px;
} 

// makes items stack in Mobile view 
@media only screen and (max-width: 800px) {
  .list-wrapper {
    display: block;
  }

*/

/* List of Services *****************************/

/* Services Text: 100% width*****************************/
.services-container {
  display: flex;
  /* info will be up & down */
  flex-flow: column;
  /* everything will be aligned to center */
  align-items: center;
  /* center inside external space */
  margin: 0 auto;
  /* pulls the entire background across the screen */
  width: 100%;
  /* DELETED - fucked up width max-width: 1120px; */
  color: black;
  background-color: #f1f1f1;
}

.services-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

/* "Other Services"  */
.services-header {
  margin-top: 50px;
}

.services-header h1.services-h1 {
  color: black;
  font-weight: 100;
  font-size: 2.1rem;
}

/* Circle inside the card */
/* #circle {
  margin-top: 20px;
  display: flex;
  width: 100px;
  height: 100px;
  background: #729eab;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
} */

/* List of Services *****************************/
.list-wrapper {
  width: 100%;
  height: auto;
}

.list-header-text {
  color: black;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.row {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.card {
  /* Centering Combo: centers card-wrapper, which holds icon & text */
  display: flex;
  align-items: center;
  justify-content: center;
  /*****************************/

  width: 210px;
  height: 170px;
  cursor: pointer;
  transition: 1s;
}
.card:hover {
  background-color: #ddd;
}

.card-wrapper {
  /* allows 'criminal defense to stretch across entire parent div */
  max-width: 100%;
  padding: 15px;
}

i {
  font-size: 1.75rem;
  color: #5ea7bd;
}

.icon-wrapper {
  text-align: center;
  margin-top: 20px;
}

/* text in card */
.text-wrapper {
  text-align: center;
}
.text-wrapper h2 {
  margin-top: 20px;
  font-size: 20px;
  color: grey;
  font-weight: 300;
}
/* END text in card */

/* Bottom text */
h3.bottom-h3 {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(221, 43, 39, 0.8);
  padding-bottom: 50px;
}

@media (max-width: 860px) {
  .services-header h1.services-h1 {
    font-size: 1.8rem;
  }

  h3.bottom-h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .row {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .services-header h1.services-h1 {
    font-size: 1.5rem;
  }
  h3.bottom-h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 468px) {
  .profile-card {
    width: 290px;
    height: 250px;
  }
}
